body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,Arial,"Noto Sans",sans-serif;
    line-height: 1.5;
    color: #212529;
}

main{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.375rem + 1.5vw);
    margin-bottom: 0;
}

p.alt {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #888;
    font-size: 0.8rem;
}

p.info{
    font-family: serif;
}

table{
    font-family: serif;
    display: flex;
    justify-content: center;
    border-spacing: 3em 1em;
}

a {
    color: #0d6efd;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

footer{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pre{
    font-family: monospace;
    color: #c92c2c;
    background-color: #faebd7;
}

.br {
    height: 1px;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #888;
}

.title{
    display: flex;
    align-items: center;
    color: #212529;
    text-decoration: none;
    font-size: calc(1.275rem + 0.3vw);
}